{{#if shouldRenderHeadings}}
  <section class="nav-cards wrap custom-container">
    {{#if firstCategories}}
      {{#if (theme-setting "first_categories_header")}}
        <h1 class="custom-category-header">{{theme-setting
            "first_categories_header"
          }}</h1>
      {{/if}}
      {{#each firstCategories as |c|}}
        <a
          class="nav-card"
          href={{c.url}}
          data-category-id={{c.id}}
          data-notification-level={{c.notificationLevelString}}
          data-url={{c.url}}
          class="category category-box category-box-{{c.slug}}
            {{if c.isMuted 'muted'}}
            {{if noCategoryStyle 'no-category-boxes-style'}}"
        >
          <span class="icon"></span>
          <h3>
            {{category-title-before category=c}}
            {{#if c.read_restricted}}
              {{d-icon "lock"}}
            {{/if}}
            {{c.name}}
          </h3>
          <p>{{html-safe c.description_excerpt}}</p>
          <b class="nav-link">Learn more</b>
        </a>
      {{/each}}
    {{/if}}
  </section>
{{/if}}