
  <section class="nav-cards">
      {{#each categories as |c|}}
        <a
          href={{c.url}}
          data-category-id={{c.id}}
          data-notification-level={{c.notificationLevelString}}
          data-url={{c.url}}
          class="nav-card">
          <span class="icon"></span>
          <h3>
            {{category-title-before category=c}}
            {{#if c.read_restricted}}
              {{d-icon "lock"}}
            {{/if}}
            {{c.name}}
          </h3>
          <p>{{html-safe c.description_excerpt}}</p>
          <b class="nav-link">Learn more</b>
        </a>
      {{/each}}
    
  </section>